services:
  web:
    build: ./backend
    env_file:
      # - .env.local
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
    command: bash -lc "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: smartmarket
      POSTGRES_USER: sm_user
      POSTGRES_PASSWORD: sm_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
